<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>AngularJS Bootstrap Duallistbox example</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../bower_components/bootstrap-duallistbox/src/bootstrap-duallistbox.css">
</head>
  <body ng-app="bsDuallistboxApp">

    <!--[if lt IE 9]>
      <script src="../bower_components/es5-shim/es5-shim.js"></script>
      <script src="../bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <div class="container" ng-controller="MainCtrl">
      <select
              ng-model="model"
              ng-options="obj as obj.text for obj in list track by obj.id"
              multiple
              bs-duallistbox
              bootstrap2="{{ settings.bootstrap2 }}"

              move-on-select="{{ settings.moveOnSelect }}"
              preserve-selection="{{ settings.preserveSelection }}"

              move-selected-label="{{ settings.moveSelectedLabel }}"
              move-all-label="{{ settings.moveAllLabel }}"
              remove-selected-label="{{ settings.removeSelectedLabel }}"
              remove-all-label="{{ settings.removeAllLabel }}"

              non-selected-list-label="{{ settings.nonSelectedListLabel }}"
              selected-list-label="{{ settings.selectedListLabel }}"

              postfix="{{ settings.postfix }}"
              select-min-height="{{ settings.selectMinHeight }}"

              filter="{{ settings.filter }}"
              filter-values="{{ settings.filterValues }}"
              filter-non-selected="settings.filterNonSelected"
              filter-selected="settings.filterSelected"
              filter-placeholder="{{ settings.filterPlaceholder }}"
              filter-clear="{{ settings.filterClear }}"
              info-all="{{ settings.infoAll }}"
              info-filtered="{{ settings.infoFiltered }}"
              info-empty="{{ settings.infoEmpty }}"
      >
      </select>
      <div class="row">
        <button class="btn btn-large" ng-click="reset()">Reset</button>
        <button class="btn btn-large" ng-click="add()">Add</button>
      </div>
    </div>

    <script src="../bower_components/jquery/jquery.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/bootstrap-duallistbox/src/jquery.bootstrap-duallistbox.js"></script>
    <script src="../common/module.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../src/directives/bsDuallistbox.js"></script>

    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
</body>
</html>
